@mixin em--why-section {
    position: relative;
    background-color: $lightBackground-rgb;
    @include size-width(100%);

    .row {
        @media (max-width: 767px) {
            flex-direction: column-reverse;
        }
    }

    .btn {
        @include margin-top(2.5rem);
        @include size-width(235px);
        background-color: $primary-color;
        border-color: $primary-color;

        @media (max-width: 767px) {
            @include margin-inline(auto);
            display: block;
        }

        &:hover {
            outline: none;
            border-color: $primary-color;
        }

        .em--icon {
            img {
                @include sizes(100%, 100%);
            }
        }
    }

    .inner-head {
        color: $black-color;

        @media (min-width: 768px) and (max-width: 991px) {
            font-size: 30px;
        }

        @media (max-width: 767px) {
            font-size: 2rem;
            text-align: center;
        }
    }

    .em {

        &--reason {
            // @include flex--config($flex-wrap: wrap, $align-items: center, $justify-content: flex-start, $flex-direction: row);
            display: block;

            &:not(:last-of-type) {
                @include margin-bottom(2.5rem);
            }
        }

        &--why-list {
            @include margin-top(2.5rem !important);

            @media (min-width: 768px) and (max-width: 991px) {
                @include margin-top(1rem !important);
            }
        }

        &--why-content {
            position: relative;

            @media (min-width: 1200px) {
                @include padding-left(3rem);
            }

            @media (max-width: 767px) {
                @include margin-bottom(4rem);
            }

            img {
                @include margin-right(1rem);
                @include sizes(50px, 30px);
            }

            h3 {
                @include font-scale($font-family, 600, 2.441rem, 1.2);
                color: $black-color;
                text-align: left;
                position: relative;
                display: block;
                // @include margin-right(1rem);
                @include margin-bottom(.8rem);

                @media (min-width: 768px) and (max-width: 991px) {
                    font-size: 1.5rem;
                }

                @media (max-width: 767px) {
                    text-align: center;
                }
            }

            .text-primary {
                color: $black-color !important;
                text-align: left;
                position: relative;
                @include font-scale($font-family, 400, $font-size-h6, normal);
                display: block;

                @media (max-width: 767px) {
                    text-align: center;
                }
            }
        }
    }
}

.em--why-section {
    @include em--why-section;
}