@mixin em--footer-section {
    position: relative;
    background-color: $white-color;
    border-top: 1px solid $smoke-gray;
    @include padding(4rem 0);
    display: block;

    h4 {
        @include font-scale($font-family, 500, 1.125rem, 1.3);
        color: $primary-color;
        text-align: left;
        position: relative;
        display: block;
        visibility: visible;
        @include margin-bottom(1.5rem);
    }

    ul {
        list-style-type: none;
    }

    a {
        text-decoration: none;
        @include transition(0.25s ease);
        @include font-scale($font-family, 400, 16px, 1.3);

        &:hover {
            @include transition(0.25s ease);
            color: $primary-color;
        }
    }

    .em {
        &--quick-link {
            border-bottom: 1px solid $smoke-gray;
            @include padding-bottom(2rem);
            @include size-width(100%);
            position: relative;
            display: block;
            @include margin-bottom(2rem);
        }

        &--footer-column {
            @include grid('grid-template-columns', '40% 15% 15% 15% 15%', 9px, 9px)
        }

        &--subscribe-flex {
            h4 {
                @include margin-bottom(0);
            }
        }
    }
}

.em--footer-section {
    @include em--footer-section;
}


@import './footer-link';
@import './footer-subscribe';