@mixin em--testimonial-section {
    position: relative;

    .em {
        &--swiper-testimonial {
            position: relative;
        }
    }

    .swiper {
        // &-slide {

        // }

        &-button-icon {
            width: 60%;
            height: 60%;
        }

        &-button-prev,
        &-button-next {
            background-color: $white-color;
            @include sizes(44px, 44px);
            @include border-radius(100px);
            background-size: auto;
            background-position: center;
            background-repeat: none;

            &:after {
                background-image: none !important;
                display: none !important;
            }
        }

        &-button-prev {
            background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAA7AAAAOwBeShxvQAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAABySURBVFiF7ZQxDkBQEAUndM6gFaFyJomE61PKR+ErqBQbG7xptnvzks0uCPF3UuO8EsiA0Tj3Fi0QgAnIveRrnIWXfAF6ySX/rLzhfGqtRWhiEfIk1xUMKqESKhHpovz4EZVXiQDMXgVg/5a1l1yId7IBNn0+QPrtJasAAAAASUVORK5CYII=) !important;
        }

        &-button-next {
            background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAA7AAAAOwBeShxvQAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAD+SURBVFiF7dQ/K4VRHMDxj5sQKYP8GRSLYjAqL8CgZDCaLSZvwVswmL0Bg8VmlG6ZlCxiuCXZpJTceAzPlR+LOzx+d3m+21nO93s6v3OoqanpnilsYLBXAZcocI6JXgQ0OwEF7rCQHTCNixDxjLXsiBEch4g2drIj+rAXIgrso5Edso23EHGE4eyIVTyFiCYmsyOW0PLzhSxmR/x+IS3lrPxJVYMzgKGwble0b1cs48H36W8wnyXfxEuQn2E8S76L9yA/VF7Fv9OPgyD+UH5MKYziJMhfsZUln8VVkD9iJUvewG2QX2MuS075qdx35KcYy5R/MYN15RDW1NRUxie140OxMFzedQAAAABJRU5ErkJggg==) !important;
        }
    }

    .testimonial-card {
        background-color: $white-color;
        @include padding(32px 40px 40px);
        // @include sizes(455px, 380px);
        @include border-radius(15px);
        border: 1px solid #D9D9D9;
        box-shadow: 2px 8px 20px 0 #d2cedd1f;

    }

    .user-review {
        border-bottom: 1px solid #D9D9D9;
    }

    .user_review_text {
        @include font-scale($font-family, 400, $font-size-h6, 1.5);
        display: -webkit-box;
        // -webkit-line-clamp: 7;
        -webkit-box-orient: vertical;
        overflow: hidden;
        // @include size-height(9.33rem);
        text-align: center;
        color: $dark-gray;
        @include padding-bottom(2rem);

        // @media (min-width: 768px) {
        //     -webkit-line-clamp: 5;
        //     @include size-height(7.5rem);
        // }
    }

    .user-bio {
        @include margin-top(1.5rem);
    }

    .profile {
        @include sizes(80px, 80px);
        @include border-radius(100px);
    }

    .user_text {
        @include font-scale($font-family, 500, 1.266rem, 1.3);
        color: $primary-color;
        text-align: left;
        position: relative;
        display: inline-block;
        @include size-width(100%);

        @media (min-width: 1200px) and (max-width: 1599px) {
            font-size: 1rem;
        }

        @media (min-width: 768px) and (max-width: 1199px) {
            font-size: .889rem;
        }

        @media (min-width: 320px) and (max-width: 767px) {
            font-size: .729rem;
        }
    }

    p {
        @include font-scale($font-family, 400, .889rem, normal);
        color: $secondary-color;
        text-align: left;
        position: relative;

        @media (min-width: 768px) and (max-width: 1199px) {
            font-size: .789rem;
        }

        @media (min-width: 320px) and (max-width: 767px) {
            font-size: .629rem;
        }
    }

    .em--review-summary {
        position: relative !important;
        @include prefix(transform, translate(0%), webkit ms);
        border: none;
        @include margin-top(6rem);
        bottom: 0;
    }

}

.em--testimonial-section {
    @include em--testimonial-section;
}