@mixin hero {
    position: relative;
    // @include size-width(100%);
    // background-color: $background-rgb;
    background-color: $white-color;
    @include padding(15rem 0 4rem 0);
    // @include overflow(hidden, hidden);
    overflow: hidden;
    z-index: 1;

    @media (max-width: 767px) {
        @include padding(10rem 0);
    }

    h1 {
        font-size: 200px;
        text-align: center;
        font-weight: bolder;
        opacity: 0.1;
        color: $black-color;
        letter-spacing: 20px;

        @media (max-width: 767px) {
            display: none;
        }
    }

    // &:before {
    //     content: '';
    //     position: absolute;
    //     left: 50%;
    //     -webkit-transform: translateX(-50%);
    //     -ms-transform: translateX(-50%);
    //     transform: translateX(-50%);
    //     top: 76%;
    //     width: 260vw;
    //     height: 260vw;
    //     border-radius: 500vw;
    //     background-color: #ffffff;
    //     display: inline-block;

    //     @media (max-width: 767px) {
    //         display: none;
    //     }
    // }

    h2 {
        @include font-scale($font-family, 500, 80px, 1.2);
        text-align: left;
        position: relative;
        color: $black-color;
        @include margin-bottom(2rem);

        @media (min-width: 768px) and (max-width: 1199px) {
            font-size: 40px;
        }

        @media (min-width: 600px) and (max-width: 767px) {
            font-size: 38px;
        }

        @media (max-width: 599px) {
            font-size: 30px;
        }
    }

    p {
        @include font-scale($font-family, 300, $font-size-h5, 32px);
        text-align: left;
        color: $dark-med-gray;
        position: relative;
        display: block;
        @include margin-bottom(2.5rem);
    }

    .em--primary-button {
        @include min-size-width(15.5rem);
        background-color: transparent;
        border: 1px solid $white-color;
        // color: $primary-color;
    }

    .swiper,
    .swiper-slide {
        background-color: transparent;

        // img {
        //     @include sizes(600px, auto);
        //     @include margin-inline(auto);
        // }
    }

    .swiper {
        &-pagination-bullet {
            @include sizes(20px, 20px);
            border: 3px solid $white-color;
            background-color: transparent;
        }

        &-pagination-bullet-active {
            border-color: $white-color;
        }
    }

    // .swiper {
    //     width: 100%;
    //     padding-top: 50px;
    //     padding-bottom: 50px;
    // }

    .swiper-slide {
        background-position: center;
        background-size: cover;
        // width: 300px;
        // height: 300px;
    }

    // .swiper-slide img {
    //     display: block;
    //     width: 100%;
    // }

    .em {
        // &--banner-flex {
        //     @include flex--config($flex-wrap: wrap, $align-items: center, $justify-content: space-between);
        //     // @include grid('grid-template-columns', 'repeat(2, 1fr)', 9px, 9px)
        // }

        &--hero-title {
            @include size-width(80%);
            @include margin-inline(auto);
        }

        &--banner-content {
            @include size-width(100%);
            // @include padding-right(8rem);
            text-align: left;
        }

        &--hero-image {
            // @include position(absolute, null, null, -0px, 50%);
            // @include prefix(transform, translateX(-50%), webkit ms);
            position: relative;
            @include margin-top(5rem);

            img {
                @include sizes(100%, 600px);
                object-fit: cover;
                @include border-radius(10px);

                @media (max-width: 767px) {
                    display: none;
                }
            }
        }

        &--banner-image {
            // @include size-width(100%);
            max-width: 14vw;
            margin: auto;
            text-align: center;

            img {
                @include size-width(100%);
            }
        }

        &--review-summary {
            // position: relative;
            @include position(absolute, null, null, -42px, 50%);
        }

        &--banner-slider {
            @include position(absolute, null, null, -480px, 50%);
            @include prefix(transform, translateX(-50%), webkit ms);
        }
    }
}

.em--banner-section {
    @include hero;
}