asgiref==3.6.0
boto3==1.24.69
botocore==1.27.69
certifi==2022.6.15
charset-normalizer==2.1.0
cloudinary==1.29.0
dj3-cloudinary-storage==0.0.6
Django==4.2.1
django-storages==1.12.3
gunicorn==20.1.0
Pillow==9.2.0
psycopg2-binary==2.9.6
python-dateutil==2.8.2
sqlparse==0.4.2
tzdata==2021.5
whitenoise==6.2.0
dj_database_url
python-decouple