@mixin em--brand-item {
    position: relative;
    @include margin-top(3rem);
    text-align: center;

    h5 {
        @include font-scale($font-family, 500, 18px, normal);
        text-align: center;
        @include margin-bottom(30px);
        position: relative;
        color: $secondary-color;
    }

    .em {
        &--close-icon {
            background-color: $white-color;
            // @include padding(2px);
            @include sizes(15px, 15px);
            text-align: center;
            @include border-radius(100px);
            @include margin-left(.8rem);
            vertical-align: middle;
            cursor: pointer;
            @include flex--config($flex-wrap: wrap, $align-items: center, $justify-content: center);
        }

        &--brand-list {
            list-style-type: none;
            @include flex--config($flex-wrap: wrap, $align-items: center, $justify-content: center);
            position: relative;

            li {
                background-color: #eafaea;
                color: $black-color;
                @include border-radius(10rem);
                @include padding(5px 10px);
                text-align: center;
                @include font-scale($font-family, 400, 14px, normal);
                @include flex--config($flex-wrap: wrap, $align-items: center, $justify-content: flex-start);

                &:not(:last-of-type) {
                    @include margin-right(10px);
                }
            }
        }
    }
}

.em--brand-item {
    @include em--brand-item;
}