@mixin em--brand-product-card {
    position: relative;
    @include margin-top(3rem);

    figcaption {
        @include font-scale($font-family, 500, 18px, lighter);
        display: block;
        position: relative;
        @include margin-top(1.2rem);
    }

    .form {
        &-check-inline {
            @include position(absolute, 0, 0, 0, 0);
            @include margin-right(0);
            @include padding-left(0);

            input {
                @include sizes(100%, 100%);
                @include position(absolute, 0, 0, 0, 0);
                @include border-radius(.2rem);
                @include margin(0);
                background-color: transparent;
                // border: 1px solid #E3E3E3;
                border: none;
                cursor: pointer;
                @include transition(0.25s ease);

                &:hover {
                    border: 1px solid $primary-color;
                    @include transition(0.25s ease);
                }

                &:focus {
                    outline: none;
                    box-shadow: none;
                }

                &:checked {
                    border: 1px solid $primary-color;
                    background: none;

                    // &:before {
                    //     content: '';
                    //     background-color: #eafaea;
                    //     @include position(absolute, 0, 0, 0, 0);
                    //     @include sizes(100%, 100%);
                    //     z-index: 0;
                    // }

                    &:before {
                        content: '';
                        @include position(absolute, 0, null, null, 0);
                        // background-color: $primary-color;
                        @include sizes(0, 0px);
                        border-top: 30px solid $primary-color;
                        border-right: 30px solid transparent;
                        // background-image: url('../../../../images/icons/checkmark.png');
                    }

                    &:after {
                        content: '';
                        @include sizes(16px, 16px);
                        @include position(absolute, 2px, null, null, 1px);
                        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQEAQAAADlauupAAAAIGNIUk0AAHomAACAhAAA+gAAAIDoAAB1MAAA6mAAADqYAAAXcJy6UTwAAAACYktHRAAAqo0jMgAAAAlwSFlzAAAAYAAAAGAA8GtCzwAAAAd0SU1FB+cGDxQ3AwKXnk4AAACjSURBVDjL5ZAxDkRgFITZRiIoaVQSnUSiUOKyCp2axAnEAahJJBLiAO/bYrPFFrvZX2vq983MG027n0DXr8OSZbDvSBhegOMY9h2qCh4PxdpBAMsCXYcYxpejJIGyRCzrM9nzYJqg7xHb/lHR92FZkLZ9pyCOgwwDjCPiun/8GUWwbVDXYJpI08C6Ko2GpCmcJ8wzHAcSx+qLUxQvgzxXhm+oJ2E3ej0GUDeyAAAAAElFTkSuQmCC');
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: 16px;
                    }
                }
            }
        }
    }

    .em {
        &--brand-product-items {
            @include grid('grid-template-columns', 'repeat(5, 1fr)', 9px, 9px);
            //  @include flex--config($flex-wrap: wrap, $align-items: center, $justify-content: center, $flex-flow: row wrap);
            gap: 30px;
            list-style-type: none;
        }

        &--brand-product-list {
            background-color: $white-color;
            position: relative;
            // @include border-radius(.75rem);
            @include sizes(100%, auto);
            @include padding(1rem);
            text-align: center;
            cursor: pointer;
            @include padding(1.2rem 1rem);



            img {
                object-fit: contain;
                @include sizes(100%, 120px);
                // z-index: 2;
                // position: relative;
            }
        }

        &--primary-button {
            background-color: $primary-color !important;
            border: none !important;
            @include margin-inline(auto);
            @include margin-top(4rem);
            @include padding(18px 6rem);

            &:focus {
                outline: none;
                box-shadow: none;
            }

            &:disabled,
            &.disabled {
                // background-color: $dark-med-gray !important;
                // opacity: 1 !important;
                cursor: no-drop;
                pointer-events: all;
            }
        }
    }
}

.em--brand-product-card {
    @include em--brand-product-card;
}