//== Buttons
//
//## For each of Bootstrap's buttons, define text, background and border color.

$font-family: "Manrope",Arial,Helvetica Neue,Helvetica,sans-serif;


$none:                       0   !default;
$border-thin:                1px !default;
$border-thick:               2px !default;

$primary-color:               #54C352 !default;
$secondary-color:             #494949 !default;


$white-color:                #FFFFFF !default;
$default-color:              #F7F7FA !default;
$blue-color:                 #3E7BFA !default;

$black-color:                #1C1C28 !default;
$black-bg:                   #000    !default;

$dark-gray:                  #555770 !default;
$dark-med-gray:              #8F90A6 !default;

$smoke-gray:                 #CECFD9 !default;

$light-blue-color:           #9DBFF9 !default;
$light-yellow-color:         #FDED72 !default;
$light-green-color:          #57EBA1 !default;
$light-red-color:            #FF8080 !default;

$background-rgb:             #54C352 !default;
$heroBackground-rgb:         #18473C !default;
$lightBackground-rgb:        #f1fff0 !default;


$font-size-xlarge:             62px   !default;
$font-size-h1:                 40px    !default;
$font-size-h2:                 32px    !default;
$font-size-h3:                 28px    !default;
$font-size-h4:                 24px    !default;
$font-size-h5:                 20px    !default;
$font-size-h6:                 16px    !default;

$font-size-large:              80px    !default;
$font-size-base:               18px    !default;
$font-size-paragraph:          16px    !default;
$font-size-blockquote:         20px    !default;
$font-size-small:              12px    !default;
$font-size-mini:               10px    !default;

$font-weight-thin:             100     !default;
$font-weight-light:            300     !default;
$font-weight-normal:           400     !default;
$font-weight-semi:             600     !default;
$font-weight-bold:             700     !default;
$font-weight-extraBold:        900     !default;

$letter-spacing-normal:        2px !default;
$letter-spacing-default:       auto !default;

$transition-linear:         linear     !default;
$transition-bezier:         cubic-bezier(0.34, 1.61, 0.7, 1) !default;
$transition-ease:           ease 0s;
