*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    list-style: none;
}
.container{
  background: white;
  padding: 20px;
  min-height: 80vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.cont{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    border:  2px solid blue;
    width:  80%;
}
button{
    text-transform: capitalize;
    padding:  30px;
    width: 50%;
    height: 60px;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 4px 6px black;
    background: blue;
}
.footer {
    background-color: #f2f2f2;
    padding: 20px 0;
    text-align: center; /* For initial centered content */
  }
  
  .footer__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Distribute sections evenly */
    margin: 0 auto;
    width: 80%; /* Adjust container width for larger screens */
    max-width: 700px; /* Set a maximum width for smaller screens */
  }
  
  .footer__section {
    flex: 1; /* Make sections flexible and grow/shrink as needed */
    margin-bottom: 20px;
    text-align: left; /* Align content left within sections */
  }
  
  .footer__section-title {
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .footer__list {
    list-style: none;
    padding: 0;
  }
  footer a {
    padding:  0;
    text-decoration: none;
    background:  none;
  }
  .footer__item {
    margin-bottom: 5px;
    background:  none;
    padding: 0;
  }
  
  .footer__social {
    display: flex;
    justify-content: center; /* Center social icons horizontally */
    margin-top: 20px;
  }
  
  .footer__social i {
    margin-right: 10px;
    font-size: 30px;
    color:  black;
  }
  
  /* Media Queries for Responsive Adjustments */
  
  @media only screen and (max-width: 768px) {
    .footer__container {
      width: 90%; /* Adjust container width for smaller screens */
    }
    .footer__section {
      flex: auto; /* Allow sections to grow/shrink freely */
    }
  }
  /*utility classes  */
  .none{
    display: none;
  }
