*{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background: wheat;
}
.contact{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
}
form{
    width: 50%;
    min-height: 60vh;
}
.divider{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}
label{
    text-transform: capitalize;
}
input{
    height: 5vh;
}
textarea{
    resize: vertical;
    min-height: 15vh;
}
button{
 text-transform:  uppercase;   
  height: 60px;
  background: #9644ff;
  border: 0;
  box-shadow: 3px 4px 7px;
}