:root{
    --primary: #FFF5E4;
    --secondary: #CD5C08;
    --tertiary1: #C1D8C3;
    --tertiary2: #6A9C89;
    --random: #000;
}
:clr{
    --background: #032B44;
    --text: #FFFFFF;
    --button: #FF3737;
}
:footer{
--fbackground: #032B44;
--ftext: #FFFFFF;
--Links: #FF3737;
}
*{
    padding: 0;
    margin: 0;
}
footer{
    display: none;
}
body{
    background:  wheat;
    height: 100vh;
}
.padded{
    color: var(--tertiary2);
    background: #9644ff;
    min-width: 70px;
    height: 180px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 2px 4px 6px black;
    margin-top: 20px;
}
.form{
    background: transparent;
    backdrop-filter: blur(30px);
    height: 100vh;
    width: 50%;
    margin-left: 25%;
}
form{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
   gap: 10px;
   height: 100vh;
}
input[type=password] , input[type=email],input[type=text]{
    width: 60%;
    padding: 10px;
    height: 40px;
    border: 0;
}
input[type=checbox]{
    width: 300px;
    height: 30px;
}
.values:focus{
 border-bottom: 2px solid --primary;
 border-radius: 0;
 transition: .6s ease-in-out;
 outline: 0;
}
button{
    width: 63%;
    height: 60px;
    padding: 10px;
    text-transform: capitalize;
    border: 0;
    background: #9644ff;
    box-shadow: 2px 3px 4px black;
    color: white;
    cursor: pointer;
}
.message{
    position: absolute;
    top: 80px;
    height: 30px;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 40px;
    font-size: 20px;
    text-transform: capitalize;
    background: wheat;
    left: 0px;box-shadow: 0px 2px 4px black;
    animation:  reds .6s ;
}
.message.none{
    display: none;
}
@keyframes reds {
    0%{
        transform: translateY(-80px);
    }
    100%{
        transform: translateY(0px);
    }
}
@media (max-width: 960px) {
   .form{
    width: 100%;
    margin-left: 0;
    background: #9644ff;
   }
   .padded{
    background: wheat;
   }
   button{
    background: wheat;
    color: black;
    font-size: 20px;
   }
}
input::placeholder{
  color: black;
  font-size: 20px;
  text-transform: capitalize;
}