@mixin navigation {
    @include size-height(6.5rem);
    @include padding(2rem 3.75rem);
    // position: relative;
    background-color: transparent;
    z-index: 9999;
    @include position(absolute, 0, null, 0, null);
    @include size-width(100%);
    @include transition(0.25s ease);

    .container {
        position: relative;
    }

    .em {

        &--navbar-brand {
            // @include margin-right(40px);

            img {
                @include size-width(150px);
            }
        }

        &--login-button {

            @include position(absolute, 50%, 0, null, null);
            @include prefix(transform, translateY(-50%), webkit ms);

            a {
                background-color: $primary-color;
                @include padding(10px);
                text-align: center;
                color: $white-color !important;
                @include border-radius(5px);
                // display: inline-block;
                @include flex--config($flex-wrap: wrap, $align-items: center, $justify-content: center);
                @include sizes(100px, 40px);
            }
        }

        &--navbar-nav {
            justify-content: center;
            @include size-width(100%);

            .nav {
                &-item {
                    &:not(:last-of-type) {
                        @include margin-right(40px);
                    }
                }

                &-link {
                    @include font-scale($font-family, normal, $font-size-h6, normal);
                    color: $black-color;
                    position: relative;
                    text-decoration: none;
                    @include padding(0);

                    &:hover {
                        color: $primary-color;
                    }
                }
            }
        }
    }
}

.em--main-navbar {
    @include navigation;

    &.em--navbar-fixed {
        position: fixed !important;
        background-color: $white-color;
        @include transition(0.25s ease);
        box-shadow: 0 2px 12px rgb(0 0 0/5%);

        .nav-link {
            color: $black-color;
        }
    }
}