@font-face {
  font-family: "Manrope-Regular";
  src: url("../../../fonts/Manrope/static/Manrope-Regular.ttf");
}
@font-face {
  font-family: "Manrope-Light";
  src: url("../../../fonts/Manrope/static/Manrope-Light.ttf");
}
@font-face {
  font-family: "Manrope-Medium";
  src: url("../../../fonts/Manrope/static/Manrope-Medium.ttf");
}
@font-face {
  font-family: "Manrope-SemiBold";
  src: url("../../../fonts/Manrope/static/Manrope-SemiBold.ttf");
}
@font-face {
  font-family: "Manrope-Bold";
  src: url("../../../fonts/Manrope/static/Manrope-Bold.ttf");
}
@font-face {
  font-family: "Manrope-ExtraBold";
  src: url("../../../fonts/Manrope/static/Manrope-ExtraBold.ttf");
}