.hp--lighter {
  font-weight: $font-weight-light;
}

.hp--bold {
  font-weight: $font-weight-bold;
}

.hp--medium {
  font-weight: $font-weight-normal;
}

.hp-semi-bold {
  font-weight: $font-weight-semi;
}

.hp--extra-bold {
  font-weight: $font-weight-extraBold;
}

.hp--regular {
  font-weight: $font-weight-normal;
}

.hp--thin {
  font-weight: $font-weight-thin;
}
