{% extends 'base.html' %}
{% load static %}
{% block head %} 
<title>Crest : Homepage</title>
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
<link rel="stylesheet" href="{% static 'css/carousel.css' %}">
{% endblock %}
{% block body %}
{% for message in messages %}
<header>{{message}}</header>
{% endfor %}
<div class="container">
<div class="contain">
    {% if user.is_authenticated %}
    {% include 'rate.html' %}
    {% else %}
    <nav>
        <a href="/" class="logo">Crest</a>
        <ul class="navbar prevent">
            <li><a href="#">Home</a></li>
            <li><a href="#">about</a></li>
            <li><a href="#">contact</a></li>
            {% if user.is_authenticated %}
            <li><a href="#">profile</a></li>
            <li><a href="{% url 'logout' %}">logout</a></li>
            {% else %}
            <li><a href="{% url 'login' %}">login</a></li>
            <li><a href="{% url 'signup' %}">signup</a></li>
            {% endif%}
        </ul>
        <span class="icons" >
            <i class='bx bx-menu-alt-right' id="menu" onclick="navigator()"></i>
        </span>
    </nav>
    <section class="hero">
         <div class="child">
           <h1>welcome to crest we are currency exchange Experts  </h1>
            <p>
                your one-stop destination for hassle-free currency exchange! 
                Whether you're a traveler exploring new horizons or a business owner
                 managing international transactions, we've got you covered.
            </p>
           <div class="element"></div>
           <div class="buttons">
            <button type="submit">submit</button>
            <button type="submit">Try now</button>
           </div>
         </div>
         <div class="child1">
          <img src="https://images.pexels.com/photos/534229/pexels-photo-534229.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
         </div>
    </section>
    <section class="rates">
         <div class="contain">
            <h1>Use Cases for Our Currency Exchange Service</h1>
            <div class="divs">
                <div class="parents">
                        <div class="men">
                            <li><h3>Traveling abroads:</h3> Avoid hidden fees and get competitive exchange rates when you spend
                                money overseas with your debit or credit card. Our service allows you to easily convert your
                                home currency to the local currency before your trip, ensuring you know exactly how much you're spending.</li>
                            <li><h3>Supporting family and friends:</h3> Send money to loved ones living abroad quickly and securely.
                                 Our platform offers transparent fees and competitive rates, so more of your money reaches them.</li>
                            <li><h3>Paying for international services:</h3> Do you subscribe to foreign streaming services or pay for online courses offered
                                 in another currency? Use our service to convert your currency at a favorable rate for seamless international payments.</li>
                        </div>
                </div>
                <div class="parents none">
                        <div class="men">
                            <li><h3>Traveling abroa:</h3> Avoid hidden fees and get competitive exchange rates when you spend
                                money overseas with your debit or credit card. Our service allows you to easily convert your
                                home currency to the local currency before your trip, ensuring you know exactly how much you're spending.</li>
                            <li><h3>Supporting family and friends:</h3> Send money to loved ones living abroad quickly and securely.
                                 Our platform offers transparent fees and competitive rates, so more of your money reaches them.</li>
                            <li><h3>Paying for international services:</h3> Do you subscribe to foreign streaming services or pay for online courses offered
                                 in another currency? Use our service to convert your currency at a favorable rate for seamless international payments.</li>
                        </div>
                </div>
                <div class="parents none">
                        <div class="men">
                            <li><h3>Traveling abroad:</h3> Avoid hidden fees and get competitive exchange rates when you spend
                                money overseas with your debit or credit card. Our service allows you to easily convert your
                                home currency to the local currency before your trip, ensuring you know exactly how much you're spending.</li>
                            <li><h3>Supporting family and friends:</h3> Send money to loved ones living abroad quickly and securely.
                                 Our platform offers transparent fees and competitive rates, so more of your money reaches them.</li>
                            <li><h3>Paying for international services:</h3> Do you subscribe to foreign streaming services or pay for online courses offered
                                 in another currency? Use our service to convert your currency at a favorable rate for seamless international payments.</li>
                        </div>
                </div>
            </div>
         </div>
         <div class="Parent">
             <span class="carousel-dot active" data-slide="0" onclick="carousel(0,event)">1</span>
                    <span class="carousel-dot" data-slide="1" onclick="carousel(1,event)">2</span>
                    <span class="carousel-dot" data-slide="2" onclick="carousel(2,event)">3</span>
         </div>
    </section>
    <section class="faq">

    </section>
    <footer>
        <p></p>
        </footer>
    {% endif %}
</div>
<footer >
    <p></p>
    </footer>
</div>
<script src="{% static 'js/rate.js' %}"></script>
<script src="{% static 'js/index.js' %}"></script>
{% endblock %}