{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}
    <title>Profile </title>
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    {% endblock %}
</head>
<header></header>
<body>
    {% block body %}
    <div class="container">
        <div class="choice">
           <p class="profile-header">
            <a href="#" class="logo">Crest</a>
                <a href="#">edit Profile</a>
                <a href="#">transactions</a>
                <a href="#">credentials</a>
                <a href=""> <img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="" width="50px"></a>
    </p>
        </div>
     <div class="profile">
        <section class="transaction">
                   {% for  trascation in trasactions %}
                   {% if trasaction == 0 %}
                   <div class="welcome">
                    <h2> {{user}} you have not yet made any transactions</h2>
                     <img src="https://e7.pngegg.com/pngimages/344/673/png-clipart-empty-set-null-set-mathematical-notation-set-notation-mathematics-rim-black-and-white.png" alt="" width="200px">
                      <h2>make your first<h2>
                     <br><a href="#" class="payments"> transaction</a></br>
                 </div>
                   {% elif trasaction > 0 %}
                  <div class="die2"> {{trascation}}</div>
                  {% else %}
                  <div class="welcome">
                    <h2> {{user}} you have not yet made any transactions</h2>
                     <img src="https://e7.pngegg.com/pngimages/344/673/png-clipart-empty-set-null-set-mathematical-notation-set-notation-mathematics-rim-black-and-white.png" alt="" width="200px">
                      <h2>make your first<h2>
                     <br><a href="#" class="payments"> transaction</a></br>
                 </div>
                   {% endif %}
                   {% endfor %}
        </section>
        <section class="profile_details none">
            <form action="">
                <h1>Profile details</h1>
                <div class="form-child">
                    <label for="username">Username</label>
                    <input type="text" name="" id="" placeholder="username" value="{{user.username}}"></div>
                <div class="form-child">
                    <label for="username">email</label>
                    <input type="text" name="" id="" placeholder="email" value="{{user.email}}">
                </div>
                <div class="form-child"><select name="id" id="">
                        <option value="">means of identification</option>
                        <option value="">NIN</option>
                        <option value="">BVN</option>
                        <option value="">others</option>
                    </select>

                    <label for="username">User id</label>
                    <input type="text" name="" id="" placeholder="userId">
                    
                </div>
                <div class="form-child">
                    <p>
                <button type="submit">Save</button>
                <button type="submit">cancel</button>
                </p>
                </div>
            </form>
        </section>
     </div>
    </div>
    {% endblock %}
</body>
<footer><p></p></footer>
</html>