{% extends "base.html" %}
{% load static %}
{% block head %}
 <title>signup</title>
 <link rel="stylesheet" href="{% static 'css/login.css' %}">
 
{% endblock %}
<!-- body  -->
{% block body %}
 <div class="container">
    <form action="{% url 'signup' %}"  method="POST">
        {% csrf_token%}
        <h1>Signup within seconds</h1>
        {% for message in messages %}
        <div class="message">{{message}}</div>
        {% endfor %}
        <div class="wrap">
            <label for="username">email</label>
            <input type="email" name="email" id="username" >
        </div>
        <div class="wrap">
            <label for="username">username </label>
            <input type="text" name="username" id="username" >
        </div>
          <div class="wrap">
              <label for="password">Password</label>
                      <input type="password" name="password" id="password" >
          </div>
        <div class="wrap">
            <label for="password1">confirm password</label>
            <input type="password" name="password1" id="confirm password">
        </div>
        <p class="hide"><b>already have an account</b><a href="/login">Login</a></p>
        <button type="submit">submit</button>
    </form>
    <p class="me">© Crest technologies</p>
 </div>
 <script>
    function wronget(){
        document.querySelector('.message').parentElement.removeChild()
    }
    setTimeout(wronget(), 2000)
 </script>
{% endblock %}