* {
    @include margin(0);
    @include padding(0);
    box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
    background-color: $white-color;
    @include margin(0);
    @include padding(0);
    font-family: $font-family;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

nav ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

/* change colours to suit your needs */
ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

/* change colours to suit your needs */
mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title],
dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

input,
select {
    vertical-align: middle;
}

h1 {
    font-size: $font-size-h1;
}

h2 {
    font-size: $font-size-h2;
}

h3 {
    font-size: $font-size-h3;
}

h4 {
    font-size: $font-size-h4;
}

h5 {
    font-size: $font-size-h5;
}

h6 {
    font-size: $font-size-h6;
}

p {
    font-size: $font-size-paragraph;
}

.container {
    @include margin-inline(auto);

    @media (min-width: 1200px) {
        @include max-size-width(1200px);
    }

    @media (min-width: 768px) and (max-width: 1199px) {
        @include max-size-width(90%);
    }

    @media (min-width: 320px) and (max-width: 767px) {
        @include max-size-width(100%);
        @include padding-right(2rem);
        @include padding-left(2rem);
    }
}

.hp--wrapper-content {
    @include max-size-width(90%);
    @include margin-left(auto);
    @include padding(10% 0);
}

.hp--background-white {
    background-color: $white-color;
}

.hp--section-round {
    @include border-radius(50px 0 0 50px);
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.em--hero-pagination {
    .swiper {
        &-pagination-bullet {
            @include sizes(20px, 20px);
            border: 3px solid $white-color;
            background-color: transparent;
        }

        &-pagination-bullet-active {
            border-color: $white-color;
        }
    }
}

.error-message {
    color: #ff5555;
    @include font-scale($font-family, 500, 14px, normal);
    @include margin-top(5px);
    text-align: left;
    display: block;

    &:first-letter {
        text-transform: uppercase;
    }
}