
*{
    text-decoration: none;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background: black;
}
ul , ul.none{
    display: flex;
    justify-content: space-between;
    margin-right: 90px;
}
.header ul li a{
    margin-left: 20px;
    color: white;
    text-transform: uppercase;
}
a.logo{
    text-transform: uppercase;
}
footer li a{
    text-transform: capitalize;
    color: black;
}
.icon i{
    font-size: 28px;
    color: white;
    cursor: pointer;
}
.icon{
    display: none;
}
.no-scroll{
    overflow: hidden;
}
@media (max-width:980px) {
    .header ul{
        position: absolute;
        width: 100%;
        height: 93vh;
        top: 7vh;
        left: 0;
        background: black;
       flex-direction: column;
       align-items: center;
       justify-content: center;
       color: white;
    }
    .icon{
        display: block;
    }
    ul.none{
        display: none;
    }
    .header ul li{
        margin-top: 40px;
    }
}